/* Color palette*/
:root {
    --light-text: rgb(0,0,0);
    --dark-text: rgb(255, 255, 255);

    --base-fill: rgb(62, 120, 255);
    --hover-fill: rgb(40, 105, 255);
    --active-fill: rgb(21, 91, 255);
}
body {
    font-family: Calibri;
    font-size:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

#app {
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
}

#timers {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.timer-header {
    display: flex;
    align-items: center;
    gap: 10px;
}



.timer-name {
    flex: 1;
    font-size: larger;
    border-top:0;
    border-left:0;
    border-right:0;
}

.timer-display {
    display: flex;
    gap: 5px;
    align-items: center;
}

.timer-input {
    width: 40px;
    border:0;
    font-family: calibri;
    font-size: x-large;
}

button {
    color:var(--dark-text);
    font-weight: bold;
    padding: 5px 10px;
    background-color: var(--base-fill);
    border-radius: 8px;
    border-color: var(--light-text);
}

button:hover {
    background-color: var(--hover-fill);
}
button:active {
    background: var(--active-fill);
}

.timer-remove {
    display: none;
}

#add-timer {
    margin-top: 10px;
}

.ratios {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
